package common

templ Button(label string, className string) {
	<button type="submit" class={ " bg-sky-200 p-2 text-blue-800 font-bold rounded-2xl border-2 border-sky-300 border-solid hover:bg-sky-300",className }>{ label }</button>
}
